---
import { formatDistanceToNowStrict } from 'date-fns';

interface Props {
    error: unknown
}

const { error } = Astro.props

console.log(error)
let message = error instanceof Error ? error.message : 'Unknown error';
if (message.includes('rate limit')) {
    const reset = error.response.headers['x-ratelimit-reset'];
    const timeUntilReset = formatDistanceToNowStrict(new Date(reset * 1000));
    message = `You have hit the Github API rate limit. Please try again in ${timeUntilReset}.`;
}
    
---

<div>{message}</div>
