---
import Ticket from "../components/Ticket.astro";
import { getData, type Ticket as ITicket, requiresAttention, isStale } from "../utils";

export const prerender = false;

function compare(a: ITicket, b: ITicket) {
  const scoreA = (requiresAttention(a) ? 2 : 0) + (isStale(a) ? 1 : 0);
  const scoreB = (requiresAttention(b) ? 2 : 0) + (isStale(b) ? 1 : 0);
  return scoreB - scoreA;
}

const { issues, pullRequests } = await getData();
---

<style>
  body {
    font-family: system-ui, "Ubuntu", "Droid Sans", sans-serif;
    color: #222;
  }
</style>

<div
  style={{ marginBottom: "20px", padding: "10px", background: "black", color: "#ccc" }}
>
  ISSUES
</div>
{issues.sort(compare).map((ticket) => <Ticket ticket={ticket} />)}
<div
  style={{
    marginTop: "20px",
    marginBottom: "20px",
    padding: "10px",
    background: "black",
    color: "#ccc",
  }}
>
  PULL REQUESTS
</div>
{
  pullRequests
    .sort(compare)
    .map((ticket) => <Ticket ticket={ticket} />)
}

<footer style={{ margin: '24px 0px' }}>
  <hr/>
  <a href="https://github.com/skn0tt/playwright-triage">Sources</a>
</footer>
