---
import { formatDistanceToNowStrict } from "date-fns"
import { type Ticket, isMaintainer, isStale, requiresAttention } from '../utils';

export interface Props {
  ticket: Ticket;
}

const { ticket } = Astro.props;
---

<style>
  .item {
    margin-top: 20px;
  }

  .item-title {
    font-weight: bold;
    margin: 4px 0;
  }

  .item-comment-user {
    margin-right: 10px;
    min-width: 150px;
    display: inline-block;
  }
</style>

<div class="item">
  <div>
    <a href={ticket.url} class="item-url">
      {ticket.url}
    </a>
  </div>
  <div class="item-title" set:html={ticket.titleHTML}/>
  {
    ticket.comments.map((comment, index) => {
      let color = isMaintainer(comment.author) ? "green" : "inherit";
      const isLastComment = index === ticket.comments.length - 1;
      if (isLastComment) {
        if (requiresAttention(ticket)) color = "red";
        else if (isStale(ticket)) color = "brown";
      }
      return (
        <div style={{ color }}>
          <span class="item-comment-user">{comment.author}</span>
          {formatDistanceToNowStrict(comment.createdAt, { addSuffix: true })}
        </div>
      );
    })
  }
</div>
